<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>我的测试</title>
    <link rel="stylesheet" href="https://cdn.staticfile.org/twitter-bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://cdn.staticfile.org/jquery/2.1.1/jquery.min.js"></script>
    <script src="https://cdn.staticfile.org/twitter-bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<body>
<div class="container">
    <div class="row">
        <div class="col-md-12">
            <table class="table table-striped">
                <caption>试卷列表</caption>
                <thead>
                <tr>
                    <th>考试名</th>
                    <th>开始时间</th>
                    <th>测试时长</th>
                    <th>允许迟到时间</th>
<!--                    <th>允许提早交卷时间</th>-->
                    <th>测试说明</th>
                    <th>操作</th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="item,status : ${exams}">
                    <td th:text="${item.examName}"></td>
                    <td th:text="${#dates.format(item.startTime,'yyyy-MM-dd HH:mm:ss')}"></td>
                    <td th:text="${item.testTime}"></td>
                    <td th:text="${item.lateTime}"></td>

                    <td th:text="${item.introduce}"></td>
                    <td>
                        <span th:if="${item.status == 1}">未开始</span>
                        <a th:if="${item.status == 2}" th:href="@{/exam/stuExam(id=${item.id})}">加入测试</a>
                        <span th:if="${item.status == 3}">已结束</span>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
</body>
</html>