<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>题库管理</title>
    <link rel="stylesheet" href="https://cdn.staticfile.org/twitter-bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://cdn.staticfile.org/jquery/2.1.1/jquery.min.js"></script>
    <script src="https://cdn.staticfile.org/twitter-bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<body>
<div class="container">
    <div class="row">
        <div class="col-md-12">
            <table class="table table-striped">
                <caption>题目列表</caption>
                <thead>
                <tr>
                    <th>ID</th>
                    <th>类型</th>
                    <th>简介</th>
                    <th>创建时间</th>
                    <th>难度</th>
                    <th>操作</th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="item,itemStat : ${items}">
                    <td class="id" th:text="${item.id}"></td>
                    <td th:text="${item.type}"></td>
                    <td th:text="${item.introduction}"></td>
                    <td th:text="${item.date}"></td>
                    <td th:text="${item.difficulty}"></td>
                    <td>
                        <a th:href="@{detail.html(id=${item.id})}">详情</a>
                        <button th:onclick="deleteSubject(this,[[${item.id}]])">删除</button>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
<script>
    function deleteSubject(obj,id){
        $.post("/bank/subject/delete",{"id":id},function () {
            $(obj).parent().parent().remove()
        })
    }
</script>
</body>
</html>