spring:
  application:
    name: teacher-service
  datasource:
    url: jdbc:mysql://42.192.123.219:3306/auth?serverTimezone=UTC&useUnicode=true&characterEncoding=utf-8
    username: root
    password: Mixed2022.
    driver-class-name: com.mysql.cj.jdbc.Driver
eureka:
  client:
    service-url:
      defaultZone: http://127.0.0.1:1902/eureka
server:
  port: 1910
  servlet:
    context-path: /teacher
security:
  oauth2:
    client:
      client-id: all-client
      client-secret: all-client-secret
      user-authorization-uri: http://auth-service/oauth/authorize
      access-token-uri: http://auth-service/oauth/token
    resource:
      jwt:
        key-uri: http://auth-service/oauth/token_key
        key-value: Mixed2022.

mybatis:
  mapper-locations: classpath:mappers/*.xml