<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="org.mixed.exam.admin.mapper.RoleMapper">
    <insert id="Insert"
    parameterType="org.mixed.exam.auth.api.po.Users">
        insert into users
            (username, password, realName, role,email,telephone)
        values(#{username},#{password},#{realName},#{role},#{email},#{telephone})
    </insert>

    <update id="updateMul" parameterType="String">
        delete
        from users
        <where>
            username in
            <foreach collection="array" item="username"
                     open="(" close=")" separator=",">
                #{username}
            </foreach>
        </where>
    </update>

    <update id="update" parameterType="String">
        delete
        from users
        where username=#{username}
    </update>
    <update id="UpdateInfo" parameterType="org.mixed.exam.auth.api.po.Users">
        update users
        set username=#{username},
            realName=#{realName},
            role=#{role},
            email=#{email},
            telephone=#{telephone}
        where username=#{username}

    </update>

    <select id="findAll" resultType="org.mixed.exam.auth.api.po.Users">
        SELECT
            *
        from users

    </select>
    <select id="Search"
            resultType="org.mixed.exam.auth.api.po.Users"
            parameterType="org.mixed.exam.auth.api.po.Users">
        SELECT *
        from users
        <where>
            <if test="username!=null and username!=''">
                and users.username like concat('%',#{username},'%')
            </if>
            <if test="realName!=null and realName!=''">
                and users.realName like concat('%',#{realName},'%')
            </if>
            <if test="role!=null and role!=''">
                and users.role=#{role}
            </if>
        </where>

    </select>
</mapper>