#container {
    height: 100%;
    width: 100%;
    position: absolute;
    background: url("../img/grayBackground.png");
    background-size:100% 100%;
}


#accordionExample{
    /*background: url("../img/greenAndRed.png")no-repeat;*/
    background: white;
    background-size:100% 100%;
    width: 18%;
    height: 96%;
    position: absolute;
    right: 3%;
    top: 2%;
    box-shadow: 10px 10px 5px #888888;

    OVERFLOW-Y: scroll;
    scrollbar-face-color:#B3DDF7;
    scrollbar-shadow-color:#B3DDF7;
    scrollbar-highlight-color:#B3DDF7;
    scrollbar-3dlight-color:#EBEBE4;
    scrollbar-darkshadow-color:#EBEBE4;
    scrollbar-track-color:#F4F4F0;
    scrollbar-arrow-color:#000000;
}
#accordionExample::-webkit-scrollbar{
    display: none;
}

#info{
    width: 74%;
    height: 48px;
    position: absolute;
    left: 2%;
    top: 1px;
    font-size:17px;
    background: white;
    box-shadow: 10px 10px 5px #888888;
}
table td{
    padding: 14px;
    font-size: 17px;
    font-weight: 500;
}

/*#infoBG{*/
/*    background: url("../img/blueB.png")no-repeat;*/
/*    background-size:100% 100%;*/
/*    position: absolute;*/
/*    width: 20%;*/
/*    height: 100px;*/
/*    left: 2%;*/
/*    top: 5px;*/
/*}*/

#review{
    left: 2%;
    width: 74%;
    height: 89%;
    top: 60px;
    position: relative ;
    border: rgba(236,218,233,0.13);
    background: white;
    box-shadow: 10px 10px 5px #888888;
}

#thiner{
    background: rgba(130,242,85,0.02);
    height: 98%;
    width: 96%;
    left: 2%;
    top: 1%;
    position: absolute;
    -webkit-flex: 1;
}

#inner{
    top: 2%;
    left: 3%;
    width: 94%;
    background: white;
    border-color: black;
    border-width: 1px;
    HEIGHT: 95%;
    position: absolute;
    OVERFLOW-Y: scroll;
    scrollbar-face-color:#B3DDF7;
    scrollbar-shadow-color:#B3DDF7;
    scrollbar-highlight-color:#B3DDF7;
    scrollbar-3dlight-color:#EBEBE4;
    scrollbar-darkshadow-color:#EBEBE4;
    scrollbar-track-color:#F4F4F0;
    scrollbar-arrow-color:#000000;
}
#inner::-webkit-scrollbar{
    display: none;
}

.q{
    margin: 2%;
}

.getwhite{
    background: white;
}

/*设置题目显示*/
.question_title{
    background-color: #0c5460;
    color: white;
    font-size:20px;
}
.question_description{
    font-size:17px;
}
.question_score{
    font-size:15px;
}
.student_answer{
    font-size:15px;
}
.question_answer{
    font-size:15px;
}
.score_input{

}


/*设置两个功能按钮*/
/*#finishButton{*/
/*    position: absolute;*/
/*    top: 1%;*/
/*    right: 34%;*/
/*    background-color: white;*/
/*    color: black;*/
/*    border-radius: 2px;*/
/*    height: 5%;*/
/*    width: 9%;*/
/*    font-size:15px;*/
/*    !*box-shadow: 5px 5px 3px #888888;*!*/
/*}*/
#backButton{
    position: absolute;
    top: 1%;
    right: 25%;
    background-color: white;
    color: black;
    border-radius: 2px;
    height: 5%;
    width: 9%;
    font-size:15px;
    /*box-shadow: 5px 5px 3px #888888;*/
}

.setbut{
    font-size:17px;
    color: black;
    font-weight:500;
}
#finishButton:hover {
    color: white;
    background-color: green;
}
#backButton:hover {
    color: white;
    background-color: black;
}




/*右侧导航*/
a{
    border: #1db9aa;
    display: block;
    text-align: center;
    line-height:18px;
    width: 25px;
    height: 25px;
    margin: 2px;
    left: 4px;

}

a.buttonR{
    background-color: #f6a7b3;

    background-image:-webkit-linear-gradient(top, #f6a7b3, #f0a3af);
    background-image:-moz-linear-gradient(top, #f6a7b3, #f0a3af);
    background-image:linear-gradient(top, #f6a7b3, #f0a3af);

    border:1px solid #eb9ba7;
    border-radius:2px;

    box-shadow:0 2px 2px #ccc;

    color:#fff;
    text-decoration: none !important;
    padding:18px 18px;
    display:inline-block;
    cursor:pointer;

    line-height:18px;
    font-size:14px;
    text-align: center;
    zoom: 1;
 }
a.buttonG{
    background-color: limegreen;

    background-image:-webkit-linear-gradient(top, limegreen, limegreen);
    background-image:-moz-linear-gradient(top, limegreen, limegreen);
    background-image:linear-gradient(top, limegreen, limegreen);

    border:1px solid limegreen;
    border-radius:2px;

    box-shadow:0 2px 2px #ccc;

    color:#fff;
    text-decoration: none !important;
    padding:18px 18px;
    display:inline-block;
    cursor:pointer;

    line-height:18px;
    font-size:14px;
    text-align: center;
    zoom: 1;
}

/*#inforight{*/
/*    position: absolute;*/
/*    top: 5px;*/
/*    right: 25%;*/
/*    height: 141px;*/
/*    font-size:20px;*/
/*}*/


