<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>发布考试</title>
    <link rel="stylesheet" href="https://cdn.staticfile.org/twitter-bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="/teacher/assets/css/wui.min.css">
    <script src="https://cdn.staticfile.org/jquery/2.1.1/jquery.min.js"></script>
    <script src="https://cdn.staticfile.org/twitter-bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script src="/teacher/assets/js/format.js"></script>
    <script type="text/javascript" src="/teacher/assets/js/angular.min.js" charset="utf-8"></script>
    <script type="text/javascript" src="/teacher/assets/js/wui-date.js" charset="utf-8"></script>

    <style type="text/css">
        a.hand:hover   {cursor:hand}
    </style>
    <style type="text/css">
        .unselectable {
            -webkit-touch-callout: none;
            -webkit-user-select: none;
            -moz-user-select: none;
            -ms-user-select: none;
            user-select: none;
        }
        .outer {
            padding: 40px;
            box-sizing: border-box;
            box-shadow: 0 15px 25px rgb(0 0 0 /50%);
            border-radius: 10px;
            width:1000px;
            margin-left: 40px;
            margin-right: 40px;
            margin-top: 40px;
        }

    </style>
</head>
<body >
<div class="outer">
<script>

    var app = angular.module("app",["wui.date"]);
    var date=$("#date").val();
    console.log(date);
    function addClass (obj)
    {

        const index = obj.selectedIndex;
        let classID = obj.options[index].value;
        let className = $('#class-selector').find("option:selected").text()
        let li="<li class='list-group-item'><input name='classIDs' value='{0}' hidden='hidden'>" +
            "{1}<button onclick='delObj(this)' class='btn-danger'>-</button></li>"
        $('#class-list').append(li.format(classID,className));
    }
    function delObj(obj){
        $(obj).parent().remove()
    }
</script>
<form th:id="examData">
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <span>测试名称</span>
            </div>
            <div class="col-md-6">
                <input name="examName" type="text" class="form-control">
            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
                <span>测试介绍</span>
            </div>
            <div class="col-md-6">
                <input name="introduce" type="text" class="form-control">
            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
                <span>开始时间</span>
            </div>
            <div class="col-md-6">
                <div ng-app="app" class="wui-area">
<!--                    <h4 class="h4">选择年月日 时分秒</h4>-->
<!--                    <p>输出格式yyyy-mm-dd hh:mm:ss</p>-->
                    <wui-date
                            format="yyyy-mm-dd hh:mm:ss"
                            placeholder="请选择或输入日期"
                            id="date4"
                            btns="{'ok':'确定','now':'此刻'}"
                            ng-model="date4"
                            name="startTime"
                    >
                    </wui-date>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
                <span>答题时长</span>
            </div>
            <div class="col-md-6">
                <input name="testTime" type="text" class="form-control" placeholder="单位:分钟">
            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
                <span>迟到时间</span>
            </div>
            <div class="col-md-6">
                <input name="lateTime" type="text" class="form-control" placeholder="开考多久关闭进入 单位:分钟">
            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
                <span>限时提交</span>
            </div>
            <div class="col-md-6">
                <input name="submitTime" type="text" class="form-control" placeholder="允许提前多久提交试卷 单位:分钟">
            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
                <span>考试对象</span>
            </div>
            <div class="col-md-6">
                <select class="form-control course" onchange="addClass(this)" id="class-selector">
                    <option></option>
                    <option th:each="class,state : ${classes}" th:value="${class.cno}" th:text="${class.cname}"></option>
                </select>
            </div>
            <div class="col-md-12">
                <ul class="list-group" id="class-list">
                </ul>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <span>反作弊设置</span>
            </div>
            <div class="col-md-2">
                <div class="checkbox">
                    <label>
                        <input name="antiSettings" value="anti-copy" type="checkbox">禁止复制
                    </label>
                </div>
            </div>
            <div class="col-md-2">
                <div class="checkbox">
                    <label>
                        <input name="antiSettings" value="anti-paste" type="checkbox">禁止粘贴
                    </label>
                </div>
            </div>
            <div class="col-md-2">
                <div class="checkbox">
                    <label>
                        <input name="antiSettings" value="anti-tab" type="checkbox">切屏监测
                    </label>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <span>分数设置</span>
                <table class="table table-striped">
                    <thead>
                    <tr>
                        <th>类型</th>
                        <th>难度</th>
                        <th>分数</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr th:each="item,itemStat : ${subjects}">
                        <td th:text="${item.type}"></td>
                        <td th:text="${item.difficulty}"></td>
                        <td>
                            <input name="scoreList" type="text" class="form-control">
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>

        </div>
        <div class="row">
            <div class="col-md-10">
            </div>
            <div class="col-md-1">
                <button onclick="submitExam()" class="btn-success">提交</button>
            </div>
            <div class="col-md-1">
                <button class="btn-success"><a href="/teacher/exam/paper_list.html" target="_self">返回</a></button>
            </div>
        </div>
    </div>
    <input type="hidden" name="paperID" th:value="${paperID}">
</form>
</div>
<script th:inline="javascript">
    function submitExam(){
        var param = jQuery("#examData").serialize();
        jQuery.post("/teacher/exam/publish",param,function (rst){
            console.log(rst)
            alert('考试发布成功')
            if (rst=='success'){
                console.log(rst)
                alert('考试发布成功')
            }else {
                alert('考试发布失败')
            }
        })
    }
</script>
</body>
</html>