<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="org.mixed.exam.teacher.mapper.AnalyseMapper">

    <select id="findAll" resultType="org.mixed.exam.bank.api.pojo.po.Exam">
        SELECT
            id,paperID,examName,startTime,totalScore,introduce,testTime,lateTime,submitTime,classID,antiSettings,introduce
        from exam
        WHERE classID=#{classID}
    </select>
    <select id="Search"
            resultType="org.mixed.exam.bank.api.pojo.po.Exam">
        SELECT id,paperID,examName,startTime,introduce,testTime,lateTime,submitTime,classID,antiSettings,introduce
        from exam
        <where>
            <if test="examName!=null and examName!=''">
                and exam.examName like concat('%',#{examName},'%')
            </if>

        </where>
    </select>
    <select id="detail" resultType="org.mixed.exam.bank.api.pojo.po.Exam"></select>

    <delete id="delete" parameterType="int">
        delete
        from exam
        <where>
            id =#{id}
        </where>
    </delete>
</mapper>