<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="org.mixed.exam.teacher.dao.ClassMapper">
    <insert id="addClass" parameterType="org.mixed.exam.teacher.pojo.po.Class">
        insert into class (cno,cname, invitation, creator)
        VALUES (#{cno},#{cname},#{invitation},#{creator});
    </insert>
    <delete id="deleteClass" parameterType="java.lang.Long">
        delete from class
        where cno=#{cno}
    </delete>
    <delete id="deleteStudent" parameterType="org.mixed.exam.teacher.pojo.po.ChooseClass">
        delete from chooseClass
        where cno=#{cno} AND sname=#{sname}
    </delete>
    <select id="selectMaxCno" resultType="java.lang.Integer">
        select max(cno) from class
    </select>
    <select id="getClasses" resultType="org.mixed.exam.teacher.pojo.po.Class">
        select * from class where creator=#{creator}
    </select>
    <resultMap id="chooseStudentDetail" type="org.mixed.exam.teacher.pojo.po.ChooseClass">
        <id property="sname" column="sname"/>
        <id property="cno" column="cno"/>
        <result property="data" column="data"/>
        <association property="users" javaType="org.mixed.exam.auth.api.po.Users">
            <id property="username" column="username"/>
            <result property="realName" column="realName"/>
            <result property="email" column="email"/>
            <result property="sex" column="sex"/>
        </association>
    </resultMap>
    <select id="getClassDetail" resultMap="chooseStudentDetail">
        select sname, data, realName,email,sex
        from chooseClass,users
        where cno = #{cno} AND sname = users.username
    </select>
    <select id="stuList" resultType="org.mixed.exam.auth.api.po.Users">
        select users.*
        from chooseClass,users where cno=#{classID} and chooseClass.sname=users.username;
    </select>

</mapper>